.Pagination{
    width:fit-content;
    margin: 4vmin auto;
    display:flex;
    align-items:center;
}
.Pagination span{
    font-size:3vmin;
    margin:0 2vmin;
}


.Pagination button{
    background-color: transparent;
    border:2px solid white;
    border-radius: 50%;
    width:4vmin;
    height:4vmin;
    cursor: pointer;
    outline: none;
    font-size:2vmin;
    color:rgb(84, 84, 177);
}